* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2c2c2c;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #e7e7e7;
  font-family: "Montserrat";
}

.both-sides {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.left-side h1 {
  font-family: "Fjalla One", cursive;
  color: #3a2a51;
  margin: 5rem 0rem;
  font-size: 4rem;
}

.left-side input[type="text"],
.left-side input[type="number"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem 2.7rem;
  border: none;
  border-radius: 2rem;
  font-family: "Montserrat";
  color: #29170e;
  font-size: 2rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 2.5rem;
  background-color: #f9f3ee;
}

.left-side input[type="checkbox"] {
  font-size: 1rem;
  color: #3a2a51;
  cursor: pointer;
  outline: 1px solid white;
  margin: 0rem 0.5rem 2rem 0rem;
}

.left-side span {
  font-size: 1.8rem;
  color: #3a2a51;
  cursor: pointer;
}

.left-side button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  background-color: #3a2a51;
  color: #eeeeee;
  padding: 0.5rem 10rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.left-side button:hover {
  background-color: #342647;
}

.library-image {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad8dd), to(#dad1d4));
  background: linear-gradient(#dad8dd, #dad1d4);
  -webkit-box-flex: 2;
      -ms-flex: 2 1 75rem;
          flex: 2 1 75rem;
}

.library-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 {
  font-family: "Fjalla One", cursive;
  font-size: 3rem;
  color: #3a2a51;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.books-total {
  min-height: 12vh;
  width: 85%;
  margin: auto;
  background-color: #eeeeee;
  border-radius: 2.5rem;
  margin-top: 5rem;
  -webkit-box-shadow: rgba(87, 87, 87, 0.05) 0 6px 9px 0;
          box-shadow: rgba(87, 87, 87, 0.05) 0 6px 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.books-total p {
  margin: 2rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.library-list {
  min-height: 70vh;
  background-color: #eeeeee;
  width: 85%;
  margin: auto;
  border-radius: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: rgba(87, 87, 87, 0.05) 0 6px 9px 0;
          box-shadow: rgba(87, 87, 87, 0.05) 0 6px 9px 0;
}

.books {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  font-family: "Montserrat";
}

.books th,
.books td {
  padding: 0.5em;
  max-width: 3.3rem;
}

.book-desc {
  margin-bottom: 10rem;
  background-color: #3a2a51;
}

.book-desc th {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin-right: 1rem;
}

.book-desc th:first-child {
  border-radius: 2.5rem 0 0 2.5rem;
}

.book-desc th:last-child {
  border-radius: 0rem 2.5rem 2.5rem 0rem;
}

.books-info td {
  font-family: "Montserrat";
  font-size: 2rem;
  text-align: center;
}

.books-info td:first-child {
  border-radius: 2.5rem 0 0 2.5rem;
}

.books-info td:last-child {
  border-radius: 0rem 2.5rem 2.5rem 0rem;
}

.books-info:hover {
  background-color: #e7e7e7;
  border-top-left-radius: 1rem;
  margin-bottom: 3rem;
}

.books-info:hover .trash-btn,
.books-info:hover .complete-btn {
  background-color: #e7e7e7;
}

.trash-btn,
.complete-btn {
  color: #fdb4b4;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.completed-btn {
  color: #b0cea3;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.completed-btn .completed-btn:hover {
  background-color: #e7e7e7;
}

.validation p {
  opacity: 0;
  font-size: 1.2rem;
  margin: 0rem 0rem;
}

#title-text,
#author-text,
#pages-text {
  opacity: 1;
  font-family: "Montserrat";
  color: #ff7a81;
  font-size: 1.5rem;
  margin: 0.5rem 0rem 2rem 0.8rem;
}

#title-text-checked,
#author-text-checked,
#pages-text-checked {
  opacity: 0;
  font-size: 1.2rem;
  margin: 0rem 0rem;
}
/*# sourceMappingURL=style.css.map */